<!DOCTYPE html>
<html>

<head>
    <title>Andres y Django</title>
</head>

<body>
    <div>
        <h1><a href="/">Andrès y Django</a></h1>
    </div>

    <div>
        <p>published: 30.08.2020, 13:58</p>
        <h2><a href="">Mi primer Post</a></h2>
        <p>When a browser requests a service from a web server, an error might occur, and the server might return an
            error code like "404 Not Found".
            It is common to name these errors HTML error messages.
            But these messages are something called HTTP status messages. In fact, the server always returns a message
            for every request. The most common message is 200 OK.</p>
    </div>

    <div>
        <p>published: 30.08.2020, 13:59</p>
        <h2><a href="">Mi segundo post</a></h2>
        <p>What is HTTP?
            The Hypertext Transfer Protocol (HTTP) is designed to enable communications between clients and servers.
            HTTP works as a request-response protocol between a client and server.
            Example: A client (browser) sends an HTTP request to the server; then the server returns a response to the
            client. The response contains status information about the request and may also contain the requested
            content.
        </p>
    </div>
</body>

</html>